*{
    margin: 0;
}

.orderhistory-body{
    background-image: url("../../../assets/order-history/vip-my-order.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    justify-content: center;
}
  
.orderhistory-logo{
    text-align: left;
}
  
.orderhistory-logo img{
    max-height: 12vh;
    margin: 2% 2% 0;
}
  
.orderHistory-maindiv {
    width: 75%;
    margin: 0 auto 2%;
    background-color: black;
    opacity: 0.8;
    border-radius: 40px;
    align-items: center;
    padding: 2.2rem 3.5rem 2.9rem;
}
  
.profile-img{
    border: 3px solid #e3ae55;
    border-radius: 100%;
    text-align: center;
}
  
.orderHistory-main-section{
    display: flex;
    justify-content: space-between;
}
  
/* menu bar section */
  
.orderHistory-menu-bar{
    color: white;
}
  
.name-section{
    display: flex;
    margin-top: 2rem;
}
  
.name-section h1{
    margin: 0;
    font-size: 2.3rem;
    font-weight: 400;
    font-family: 'Open Sans';
}
  
.name-section a{
    padding: 1.2rem 2rem 0;
    opacity: 0.6; 
}
  
.email{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Open Sans';
}
  
.linksDiv {
    margin-top: 3rem;
}
  
.linksDiv p{
    margin: 2rem 0;
}
  
.anchorLink {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-top: 3rem;
}
  
.anchorLink.active {
    text-decoration: none;
    font-size: 23px;
    color: #e3ae55;
    font-weight: 400;
    font-family: 'Open Sans';
    border-bottom: 1px solid #e3ae55;
}
  
/* order section */
  
.order-section{
    color: white;
    width: 40vw;
    height: 60vh;
    margin-right: 2%;
    margin-left: 8%;
    padding: 0 2rem 2rem 4rem;
    border-left: 2px solid gold;
    overflow: scroll;
}
  
.sticky{
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 1rem;
}
  
.order-heading{
    display: flex;
    justify-content: space-between;
}
  
.my-order-heading{
    color: rgba(227,174,85,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2.3rem;
    margin: 0;
    margin-bottom: 1rem;
}
  
.filter{
    font-size: 1.4rem;
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    cursor: pointer;
}
  
.filter-icon{
    margin-right: 1rem;
    color: rgba(227,174,85,255);
}

.show-orders-filter{
    display: flex;
    justify-content: space-between;
}
  
.show-orders-filter p{
    color: rgba(255,255,255,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
}
  
.showfil{
    background-color: #fff;
    border-radius: 10px;
    padding: 0 0.6rem 0;
}
  
.showfil p{
    padding: 0.5rem 0 0.5rem;
}
  
.showfil a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans';
}
  
.showfil a:hover{
    color: #e3ae55;
}
  
/* order item section */
.order-history-item{
    position: relative;
    width: 30vw;
    background-color:  #C9C9CB;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.order-history-item-details{
    display: flex;
}

.item-img img{
    height: 19vh;
}

.order-date{
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0.6rem;
    color: rgba(24,24,24,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8rem;
}

.order-history-details{
    padding-top: 1.3rem;
}

.order-history-details h3{
    color: rgba(24,24,24,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.6rem;
}
.order-history-details p{
    color: rgba(24,24,24,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
    margin: 0.8rem 0 0.8rem;
}

.buy-Again-Btn{
    background-color: white;
    color: rgba(24,24,24,255);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
}

.buy-Again-Btn:hover{
    background-color: rgba(227,174,85,255);
    color: black;
    opacity: 0.8;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .orderhistory-body{
      background-size: 100% 100%;
    }
  
    .orderHistory-main-section{
      flex-direction: column;
    }
    
    .linksDiv {
      display: flex;
    }
  
    .linksDiv a{
      font-size: 0.8rem;
    }

    .anchorLink.active {
        font-size: 18px;
    }
  
    .order-section{
      border: none;
      margin: 0;
      padding: 0;
      width: 86vw;
    }

    .order-heading h1{
        font-size: 1.8rem;
    }

    .filter{
        margin-right: 1rem;
    }
    .filter-icon{
        font-size: 0.6rem;
    }

    .order-heading h3{
        font-size: 1rem;
    }

    .order-history-item{
        width: 60vw;
    }
  
    /* .order-div{
      width: 100vw;
    } */
  
    /* .order-item img{
      height: 20vh;
    }
  
    .order-details h3{
      font-size: 1rem;
    } */
  }