@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

/* GLOBAL STYLES */

.customize_row {
  height: 100%;
  align-items: center !important;
}

code {
  font-family: 'Oswald', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.alignFlexEnd {
  align-items: flex-end;
}

.alignFlexStart {
  align-items: flex-start;
}

.flexDirection {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.textWhite {
  color: #fff;
}

.textGreen {
  color: #9aae37;
}

.cranberryColor {
  color: #c7024a;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
.popup-content {
  width: 65% !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.popup-overlay {
  z-index: 99999 !important;
}